@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

::-webkit-scrollbar {
    width: 0.5em;
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 30px;
}
body{
    margin:0;
    padding:0;
}
